body {
  width: 90%;
  max-width: 600px;
  min-width: 320px;
  margin: 30px auto;
  font: 110% helvetica;
}

a { 
  color: #178fb5
}

input, textarea { 
  font-family: courier;
  font-size: 110%;
  line-height: 120%;
}

textarea { 
  display: block;
  width: 100%;
  min-height: 300px;
  margin: 8px 0px 8px 0px;
}

h { 
  font-size: 170%;
  font-weight: bold;
  font-family: courier;
}

em { 
  font-weight: bold;
  font-style: normal;  
}

button { 
  color: white;
  align: center;
  font-weight: bold;
  border-radius: 7px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 110%;
  border-width: 1px;
  letter-spacing: .05rem;
  background-color: #33C3F0
}